<% include ../partials/preheader %>
<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
<% include ../partials/postheader %>

<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">BloomBlog</h1>
	  <p class="lead">The worlds most select posts, made to nurish a growing community.</p>
	  <a class="btn btn-outline-warning btn-lg" href="/posts/new" role="button">Add a Post</a>
	</div>

	<% for(var i=0; i < posts.length; i++) { %>
		<% var post = posts[i]; %>

		<div class="card">
			<div class="card-body">
			    <h3 class="card-title"><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
			    <span><em><%= post.date.toDateString() %></em></span>
			    <p class="card-text"><%= post.content %></p>
				
				<!-- Images go here -->
				<% if(post.images.length > 0) { %>
					<p>
					  <a class="btn btn-primary" data-toggle="collapse" href="#images" role="button" aria-expanded="false" aria-controls="imagesCollapse">
					    Photos
					  </a>
					</p>
					<div class="collapse" id="images">
						<% post.images.forEach(function(imageURL) { %>
						  	<div class="card card-body">
							    <div class="card" style="width: 18rem;">
									<img class="card-img-top" src="<%= imageURL %>" alt="Post Image">
								</div>
							  </div>
						<% }); %>
					</div>
				<% } %>
			</div>
		</div>
	<% } %>
</div>

<% include ../partials/prefooter %>
<% include ../partials/postfooter %>