<% include ../partials/preheader %>
<link rel="stylesheet" type="text/css" href="/stylesheets/showPost.css">
<% include ../partials/postheader %>

<div class="container">
	<div class="card">
		<div class="card-body">
		    <h1 class="card-title"><%= post.title %></h1>
		    <span>Submitted by <strong><%= post.poster %></strong></span>
		    <span><em><%= post.date.toDateString() %></em></span>
		    <p class="card-text"><%= post.content %></p>
		</div>
	</div>

	<div id="addComment">
		<a class="btn btn-outline-warning" href="/posts/<%= post._id %>/comment/new">Add Comment</a>
	</div>

	<% if(post.comments.length > 0) { %>
		<div class="commentsSection">
			<h2>Comments</h2>
			<hr>
			<% post.comments.forEach(function(comment) { %>
				<div class="comment">
					<h3><%= comment.commenter %></h3>
					<span><em><%= comment.date.toDateString() %></em></span>
					<p><%= comment.content %></p>
				</div>
			<% }); %>
		</div>
	<% } %>
</div>

<% include ../partials/prefooter %>
<% include ../partials/postfooter %>